.App{
    height: 100%;
    min-height: 100vh;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
        height: 35rem;
            width: 20rem;
            border: 1px solid black;
            border-radius: 1rem;
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: 1fr;
            grid-template-areas: 
            "input"
            "data"
            "data"
            "data"
            "data"
            "data"
            "data"
            "data"
            "data"
            "data";           
            .search{
                grid-area: input;
                border: 1px solid black;            
                margin: auto;
            }
            .data{
                grid-area: data;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(8, 1fr);
                grid-template-areas:
                    ". city city ."
                    "temp temp temp temp"
                    "temp temp temp temp"
                    ". weather weather ."
                    ". img img ."
                    ". img img ."
                    ;

                .city{
                    margin: 0;
                    padding: 0;
                    grid-area: city;            
                    margin: auto;
                }
                .temp{
                    grid-area: temp;
                    margin: 0;
                    padding: 0;
                    margin: auto;
                    font-size: 8rem;
                    line-height: 1;
                }
                .current-weather{
                    grid-area: weather;
                    margin: 0;
                    padding: 0;
                    margin: auto;
                }
                .current-img{
                    grid-area: img;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        font-size: 7.5rem;
                    }
                }
            }
    }
}

